Get points of team before date

In [54]:
# import packages
import pandas as pd
import numpy as np
from datetime import datetime
pd.set_option('display.max_columns', None)

In [115]:
# Read fixtures file
fixtures = pd.read_csv('../data/csv/fixtures.csv')
fixtures

,Unnamed: 0,id,kickoff_time,event_day,team_h_difficulty,team_a_difficulty,team_h_score,team_a_score,event,team_h,team_a
0,0,6,2018-08-10T19:00:00Z,1,3,4,2,1,1,14,11
1,1,7,2018-08-11T11:30:00Z,2,4,3,1,2,1,15,17
2,2,2,2018-08-11T14:00:00Z,2,2,3,2,0,1,2,5
3,3,3,2018-08-11T14:00:00Z,2,2,2,0,2,1,9,7
4,4,4,2018-08-11T14:00:00Z,2,4,2,0,3,1,10,6